.author{
    background-color: white;
    width: 14rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 2.5rem;
    padding-left: 0.7rem;
    border-bottom: 1px solid #eee;
    /* background-color: #bfa; */
    box-sizing: border-box;
}

.titleicon{
    width: 1.2rem;
    height: 1.2rem;
}

.titletext{
    font-size: 0.9rem;
}

.people{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}

.person{
    display: flex;
    /* width: 100%; */
    align-items: center;
    justify-content: left;
    /* height: 5rem; */
    /* flex: auto; */
    padding: 0.5rem 0.7rem;
    /* background-color: #bfa; */
}

.portrait{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-right: 0.7rem;
}

.name{
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.introduce{
    color: #aaa;
    font-size: 0.5rem;
}


.advertise{
    width: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advertisepicctn{
    margin-bottom: 0.8rem;
    position: relative;
}

.advertisepic{
    border-radius: 0.2rem;
    width: 14rem;
    height: 13rem;
}

.tinytext{
    position: absolute;
    right: 0.8rem;
    bottom: 0.8rem;
    font-size: 0.08rem;
    padding: 0.1rem 0.4rem;
    color: white;
    background-color: rgba(170, 170, 170, 0.5);
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.tinytext:hover{
    background-color: rgba(170, 170, 170, 0.7);
}

.del{
    position: absolute;
    right: 0.6rem;
    top: 0.3rem;
    color: gray;
    font-size: 1.2rem;
    cursor: pointer;
}

.del:hover{
    color: rgb(255, 106, 0);
    font-size: 1.3rem;
}

.guide{
    width: 14rem;
    height: 5rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #eee;
}

.guidepic{
    width: 3rem;
    height: 3rem;
}

.guidetext1{
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

.guidetext2{
    font-size: 0.6rem;
    color: #aaa;
}